{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="m-auto col-3">
		{# <a href="{{ ('login') }}">Retour</a> #}

		{# <h1>Réinitialisation mot de passe</h1>
														<form role="form" method="post">
															<div class="form-group">
												
																{% for message in app.flashes('info') %}
																	{{ form(form) }}{% endfor %}
																</div>
															</div>
												
														{% endblock %} #}
			<h1>
		Réinitialisation mot de passe
		</h1>
			{% for message in app.flashes('info') %}<div class="alert alert-success"> {{ message }}
			</div>
		{% endfor %}
		{{ form(form) }}
		</div>
	{% endblock %}
