{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}

	<form method="post">
		<h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<input type="hidden" name="token" value="{{ token }}">
		<button class="btn btn-lg btn-primary" type="submit">
			Register
		</button>
	</form>

	{# <div class="m-auto col-3"> #}
{# <a href="{{ ('login') }}">Retour</a> #}

	{# <h1>Changez mot de passe</h1>
			<form name="change_password" method="post">
	
				{{ form_row(form.password) }}
				{{ form_row(form.valider) }}
	
			</form> #}


	{# {% for message in app.flasches('info') %}
					{{ form(form) }}
			{% endfor %}
					</div> #}

{% endblock %}
