{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}

	{% for message in app.flashes('warning') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}


	<form method="post">
		<div class="container">
			<h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
			<label for="inputPassword">Nouveau mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control m-2" placeholder="Password" required>
			<label for="inputPasswordRepeat">Répéter le mot de passe</label>
			<input type="password" name="passwordRepeat" id="inputPasswordRepeat" class="form-control" placeholder="Password" required>
			<input type="hidden" name="token" value="{{ token }}">
			<button class="btn btn-lg btn-primary m-3" type="submit">
				Register
			</button>
		</div>
	</form>

	{# <div class="m-auto col-3"> #}
{# <a href="{{ ('login') }}">Retour</a> #}

	{# <h1>Changez mot de passe</h1>
																<form name="change_password" method="post">
														
																	{{ form_row(form.password) }}
																	{{ form_row(form.valider) }}
														
																</form> #}


	{# {% for message in app.flasches('info') %}
																		{{ form(form) }}
																{% endfor %}
																		</div> #}

{% endblock %}
