{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!
{% endblock %}

{% block body %}

	{# <!-- TestModal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Suppression irréversible</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Êtes-vous sûr de vouloir effectuer cette action ?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							<button type="button" class="btn btn-primary">Oui</button>
						</div>
					</div>
				</div>
			</div> #}

	<div class="container">

		<h1 class="text-center m-3">Liste des formations</h1>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Nom de la formation</th>
					<th scope="col">Descriptif</th>
					<th scope="col">Modifier</th>
					<th scope="col">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for formation in formations %}
					<tr>
						<td>
							<a class="text-body" href="{{ path('formation_show', {id: formation.id}) }}">{{ formation.nom }}</a>
						</td>

						<td>{{ formation.descriptif }}
						</td>
						<td>
							<button type="button" class="btn btn-warning">
								<a class=" text-white" href="{{ path('formation_edit', {'id':formation.id}) }}">Modifier</a>
							</button>
						</td>
						<td>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
								<a class=" text-white" href="{{ path('formation_delete', {'id':formation.id}) }}">Supprimer</a>
							</button>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
		<button type="button" class="btn btn-success">
			<a class=" text-white" href="{{ path('formation_add') }}">Ajouter une formation</a>
		</button>
	</div>
{% endblock %}
