{% extends 'base.html.twig' %}

{% block title %}Détail d'une formation
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="text-center m-3">Détail d'une formation</h2>
		<button class="btn btn-info">
			<a class="text-white" href="{{ path('formation_index') }}">Retour à la liste</a>
		</button>
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h2 class="card-title">{{ formation.nom }}</h2>

				<p class="card-text">
					{{ formation.descriptif }}<br>
				</p>
				<h4 class="text-info text-center">Sessions prévues :</h4>
				{% if formation.session is empty %}
					<li>Pas de session prévue pour le moment</li>
				{% else %}
					{% for session in formation.session %}
						<ul>
							<li><a class="text-info"href="{{ path('session_show', {id:session.id})}}">{{ session }}</a></li>
						</ul>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
