{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card" style="width: 18rem;">

			<div class="card-body">
				<h2 class="card-title">Profil de:
					{{ app.user.pseudo }}
				</h2>
				<p class="card-text">
					Identité:
					{{ app.user.prenom ~ ' ' ~ app.user.nom }}<br>
				</p>
				<p class="card-text">
					Email:
					{{ app.user.email }}<br>
				</p>
				<p class="card-text">
					Inscrit depuis le:
					{{ app.user.dateEntree | date('d/m/Y') }}<br>
				</p>
			</div>
		</div>
		<div>
			<button class="btn btn-info">
				<a class="text-white" href="{{ path('usersList') }}">Retour à la liste</a>
			</button>

		</div>
	</div>


{% endblock %}
