{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card" style="width: 18rem;">

			<div class="card-body">
				<h2 class="card-title">Profil de:
					{{ user.pseudo }}
				</h2>
				<p class="card-text">
					Identité:
					{{ user.prenom ~ ' ' ~ user.nom }}<br>
				</p>
				<p class="card-text">
					Email:
					{{ user.email }}<br>
				</p>
				<p class="card-text">
					Inscrit depuis le:
					{{ user.dateEntree | date('d/m/Y') }}<br>
				</p>
			</div>
		</div>
		<div>
			<button class="btn btn-info">
				<a class="text-white" href="{{ path('usersList') }}">Retour à la liste</a>
			</button>

			{% if user == app.user %}

				<button class="btn btn-info">
					<a class="text-white" href="{{ path('editProfil', {id:app.user.id}) }}">Modifier profil</a>
				</button>

				<button class="btn btn-warning">
					<a class="text-white" href="{{ path('deleteProfil', {id:app.user.id}) }}">Supprimer le compte</a>
				</button>

			{% endif %}

		</div>
	</div>


{% endblock %}
