{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card" style="width: 18rem;">

			<div class="card-body">
				<h2 class="card-title">Profil de:
					{{ user.pseudo }}
				</h2>
				<p class="card-text">
					Identité:
					{{ user.prenom ~ ' ' ~ user.nom }}<br>
				</p>
				<p class="card-text">
					Email:
					{{ user.email }}<br>
				</p>
				<p class="card-text">
					Inscrit depuis le:
					{{ user.dateEntree | date('d/m/Y') }}<br>
				</p>
			</div>
		</div>
		<div>
			{% if is_granted("ROLE_ADMIN")  %}
				<button class="btn btn-info">
					<a class="text-white" href="{{ path('usersList') }}">Retour à la liste</a>
				</button>

				{% if user.roles == "ROLE_ADMIN" %}
					<button class="btn btn-danger">
						<a class="text-white" href="{{ path('makeAdmin', {id:user.id}) }}">Rendre
							{{ user.pseudo}}
							administrateur</a>
					</button>
				{% else %}
					<button class="btn btn-danger">
						<a class="text-white" href="{{ path('makeUser', {id:user.id}) }}">Rendre
							{{ user.pseudo}}
							utilisateur</a>
					</button>
				{% endif %}

			{% endif %}

			{% if user == app.user %}
				<div class="d-flex">
					{# ********************************************************* #}
					{# <button class="btn btn-info">
																									<a class="text-white" href="{{ path('editProfil', {id:app.user.id}) }}">Modifier profil</a>
																								</button> #}

						<a class="btn btn-success text-white m-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier votre profil" href="{{ path('editProfil', {id:app.user.id}) }}"> <i class="fas fa-edit"></i>
						{# ********************************************************** #}
						{# <button class="btn btn-info">
																													<a class="text-white" href="{{ path('editPassword', {id:app.user.id}) }}">Modifier mon mot de passe</a>
																												</button> #}

						<a class="btn btn-info text-white m-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier votre mot de passe" href="{{ path('editPassword', {id:app.user.id}) }}">
							<i class="fas fa-key"></i>

							{# *********************************************************** #}
							{# <button class="btn btn-danger"> #}
							<a class="btn btn-danger text-white m-3" data-toggle="modal" data-target="#exampleModal" {# href="{{ path('deleteProfil', {id:app.user.id}) }}"#}>
								<i class="fas fa-trash-alt"></i>
							</a>
							{# </button> #}

						{# <a class="btn btn-danger text-white m-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer votre compte" onclick="alert()" href="{{ path('deleteProfil', {id:app.user.id}) }}">
													<i class="fas fa-trash-alt"></i>
												</a> #}
							{# ************************************************************ #}
						{% endif %}

						<!-- Button trigger modal -->
						{# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
																					Launch demo modal
																				</button> #}

						<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> <div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title text-danger" id="exampleModalLabel">Action irréversible</h5>
										<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										Êtes-vous bien sûr de vouloir effectuer cette suppression irréversible ?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
										<a class="btn btn-primary" href="{{ path('deleteProfil', {id:app.user.id}) }}">Supprimer le compte</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title text-danger" id="exampleModalLabel">Action irréversible</h5>
										<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										Êtes-vous bien sûr de vouloir effectuer cette suppression irréversible ?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
										<a class="btn btn-danger" href="{{ path('deleteProfil', {id:app.user.id}) }}">Supprimer le compte</a>
									</div>
								</div>
							</div>
						</div>
						<div></div>
					</div>


				{% endblock %}
