{% extends 'base.html.twig' %}

{% block title %}
	{{ stagiaire}}
{% endblock %}
{% block body %}
	<div class="container">
					<button class="btn btn-info">
					<a class="text-white" href="{{ path('stagiaire') }}"><i class="fas fa-undo"></i></a>
				</button>

		{# <h2 class="text-center m-3">Fiche descriptive</h2>
		
				<button class="btn btn-info">
					<a class="text-white" href="{{ path('stagiaire') }}"><i class="fas fa-undo"></i></a>
				</button>
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h2 class="card-title">{{ stagiaire }}</h2>
		
						<ul>
							<li>Date de naissance :<br>
								{{stagiaire.dateNaissance | date('d-m-Y') }}</li>
							<li>Adresse :<br>
								{{stagiaire.adresse ~ ' ' ~ stagiaire.codePostal ~ ' ' ~ stagiaire.ville }}</li>
							<li>Courriel :<br>
								{{stagiaire.courriel }}</li>
							<li>Genre :<br>
								{{stagiaire.sexe }}</li>
						</ul>
						<h4 class="text-info text-center">Sessions prévues :<br></h4>
		
						{% if stagiaire.sessions is empty %}
							<li>Pas incrit à une session pour le moment</li>
						{% else %}
							{% for session in stagiaire.sessions %}
		
								<ul>
									<li><a class="text-info"href="{{ path('session_show', {id:session.id})}}">{{session}}</a></li>
								</ul>
							{% endfor %}
						{% endif %}
							<a class="btn btn-success" href="{{ path('stagiaire_edit', {'id':stagiaire.id}) }}">
								<i class="fas fa-edit"></i>
							</a>
							<a class="btn btn-danger" onclick="alert()" href="{{ path('stagiaire_delete', {'id':stagiaire.id}) }}">
								<i class="fas fa-trash-alt"></i>
							</a>
		
		
					</div> #}
		{# **************************ESSAI *************************************************** #}
			<div class="card mb-3" style="max-width: 780px;"> 
			<h2 class="card-title text-center">{{ stagiaire }}</h2>
			<div class="row g-0">
				<div class="col-md-6">
					<div class="card-body">
						<h4 class="text-body">Identité:
							<br></h4>

						<ul>
							<li>Date de naissance :<br>
								{{stagiaire.dateNaissance | date('d-m-Y') }}</li>
							<li>Adresse :<br>
								{{stagiaire.adresse ~ ' ' ~ stagiaire.codePostal ~ ' ' ~ stagiaire.ville }}</li>
							<li>Courriel :<br>
								{{stagiaire.courriel }}</li>
							<li>Genre :<br>
								{{stagiaire.sexe }}</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card-body">
						<h4 class="text-body">Sessions prévues:
							<br></h4>

						{% if stagiaire.sessions is empty %}
							<li>Pas incrit à une session pour le moment</li>
						{% else %}
							{% for session in stagiaire.sessions %}

								<ul>
									<li><a class="text-body"href="{{ path('session_show', {id:session.id})}}">{{session}}</a></li>
								</ul>
							{% endfor %}
						{% endif %}
						{# <div class="d-flex"> #}
						<a class="btn btn-success" href="{{ path('stagiaire_edit', {'id':stagiaire.id}) }}">
							<i class="fas fa-edit"></i>
						</a>
						<a class="btn btn-danger" onclick="alert()" href="{{ path('stagiaire_delete', {'id':stagiaire.id}) }}">
							<i class="fas fa-trash-alt"></i>
						</a>

					</div>
				</div>
			</div>
		</div>
	{% endblock %}
