{% extends 'base.html.twig' %}

{% block title %}Ajout session
{% endblock %}
{% block stylesheets %}
	{{ parent()}}
{% endblock %}

{% block body %}
	<div
		class="container">
		{# si je suis en mode edit alors ce sera modification #}
		{% if editMode %}
			<h1 class="text-center">Modification d'une session</h1>
		{% else %}
			{# sinon ce sera un mode ajout #}
			<h1 class="text-center">Ajout d'une session</h1>

		{% endif %}
		{# <div class="m-auto col-3"> #}

		{% for message in app.flashes('warning') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}


		{% for message in app.flashes('dangerSalle') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('warningStagiaires') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		{# ici j'appelle l'intégralité du formulaire  #}
		{# <form>
																																																																																												<div class="form-group"> #}
		{{ form_start(formAddSession) }}
		{# </div> #}
		<div class="d-flex">
			<div class="col-3">
				{{ form_row(formAddSession.formation) }}
			</div>
			{# </div>
																																																																																																																																						<div class="form-group"> #}
			<div class="col-3">
				{{ form_row(formAddSession.dateDebut) }}
			</div>
			{# </div>
																																																																																																																																						<div class="form-group"> #}
			<div class="col-3">
				{{ form_row(formAddSession.dateFin) }}
			</div>
			{# </div>
																																																																																																																																						<div class="form-group"> #}
			<div class="col-3">
				{{ form_row(formAddSession.nbPlaces) }}
			</div>
		</div>
		{# <div class="form-group"> #}
		<div class="d-flex">
			<div class="flex-column col-4">
				<h4 class="m-3 text-info text-center">Ajout de stagiaire(s)</h4>
				<ul
					id="stagiaires" data-prototype="{{ form_row(formAddSession.inscrit.vars.prototype)|e }}">
					{# <div class="form-group"> #}

					{% for stagiaire in formAddSession.inscrit %}

						<li class="stagiaire list-group-item">

							{{ form_row(stagiaire) }}

						</li>
					{% endfor %}
					{# </div> #}

				</ul>
			</div>
			{# </div> #}
			<div class="flex-column col-4">
				<h4 class="m-3 text-info text-center">Ajout de module(s)</h4>

				<ul id="modules" data-prototype="{{ form_row(formAddSession.programmeSession.vars.prototype)|e }}">

					{% for module in formAddSession.programmeSession %}

						<li class="module list-group-item">

							{{ form_row(module) }}

						</li>
					{% endfor %}

				</ul>
			</div>
			<div class="flex-column ml-5 col-3">
				<h4 class="m-3 text-info text-center">Salle :</h4>
				{{ form_row(formAddSession.salle) }}
			</div>

		</div>
		<div class="d-flex justify-content-center m-3">
			{{ form_row(formAddSession.Envoyer) }}
		</div>
		{{ form_end(formAddSession) }}
		<button class="btn btn-info">
			<a class="text-white" href="{{ path('session') }}">
				<i class="fas fa-undo"></i>
			</a>
		</button>


		{# </div> #}
	</div>
{% endblock %}
{% block javascripts %}

	{{ parent() }}

	<script src="/js/collectionHandler.js"></script>
	<script src="/js/moduleCollectionHandler.js"></script>

{% endblock %}
