{% extends 'base.html.twig' %}

{% block title %}
	{{ session}}
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="container">
		<h2 class="text-center m-3">Détail d'une session</h2>

		<button class="btn btn-info">
			<a class="text-white" href="{{ path('session') }}">Retour à la liste</a>
		</button>
		<div class="card" style="width: 18rem;">
			<div class="card-body">

				<h2 class="card-title">
					<a class="text-info" href="{{ path('formation_show', {id:session.formation.id})}}">{{ session.formation }}</a>
				</h2>
				<p class="card-text">
					Période :<br>
					Du
					{{ session.dateDebut | date('d-m-Y') }}
					au
					{{ session.dateFin | date('d-m-Y') }}
					<br>
				</p>
				<p class="card-text">Contenu :<br>
					{% for programmeSession in session.programmeSession %}
						Le module
						<a class="text-info" href="{{ path('module_show', {id:programmeSession.module.id})}}">{{ programmeSession.module }}</a>
						(catégorie :
						<a class="text-info" href="{{ path('categorie_show', {id:programmeSession.module.categorie.id})}}">{{ programmeSession.module.categorie }}</a>)
																																																																																																																																																																																																																																													dure
						{{ programmeSession.duree}}
						jours</p>
				{% endfor %}
				<p class="card-text">
					Nombre de places :<br>
					{{ session.nbPlaces }}<br>
					Nombre de places restantes :<br>
					{{ session.nbPlaces - session.inscrit | length }}
				</p>
				<p class="card-text">
					Stagiaires inscrits :<br>
					{% if session.inscrit is empty %}
						<li>Pas de stagiaires inscrits pour le moment</li>
					{% else %}
						{% for inscrit in session.inscrit %}

							<li>
								<a class="text-info" href="{{ path('stagiaire_show', {id:inscrit.id})}}">
									{{ inscrit }}</a>
							</li>
						{% endfor %}
					{% endif %}
					{% if (session.nbPlaces - session.inscrit | length != 0) %}
						<a class="btn btn-info text-white m-3" href="{{ path('session_inscription', {id:session.id}) }}">Inscrire un stagiaire à cette session</a>
					{% endif %}
					<div class="d-flex">
						<a class="btn btn-info text-white w-50 m-3" href="{{ path('session_edit', {'id':session.id}) }}">
							<i class="fas fa-edit"></i>
							{# Modifier #}
						</a>
						<a class="btn btn-danger text-white w-50 m-3" href="{{ path('session_delete', {'id':session.id}) }}">
							<i class="fas fa-trash-alt"></i>
							{# Supprimer #}
						</a>
						<div></p>
					</p>
				</p>
			{% endblock %}
