{% extends 'base.html.twig' %}

{% block title %}
	{{ session}}
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="container">
		<h2 class="text-center m-3">Détail d'une session</h2>

		<button class="btn btn-info">
			<a class="text-white" href="{{ path('session') }}">
				<i class="fas fa-undo"></i>
			</a>
		</button>
		<div class="card" style="width: 18rem;">
			<div class="card-body">

				<h2 class="card-title">
					<a class="text-info" href="{{ path('formation_show', {id:session.formation.id})}}">{{ session.formation }}</a>
				</h2>
				<p class="card-text">
					Période :<br>
					Du
					{{ session.dateDebut | date('d-m-Y') }}
					au
					{{ session.dateFin | date('d-m-Y') }}
					<br>
				</p>
				<p class="card-text">Contenu :<br>
					{% for programmeSession in session.programmeSession %}
						Le module
						<a class="text-info" href="{{ path('module_show', {id:programmeSession.module.id})}}">{{ programmeSession.module }}</a>
						(catégorie :
						<a class="text-info" href="{{ path('categorie_show', {id:programmeSession.module.categorie.id})}}">{{ programmeSession.module.categorie }}</a>)
						{{ programmeSession.duree}}
						jours</p>
				{% endfor %}
				<p class="card-text">
					Nombre de places :<br>
					{{ session.nbPlaces }}<br>
					Nombre de places restantes :<br>
					{{ session.nbPlaces - session.inscrit | length }}
				</p>
				{% if is_granted("ROLE_ADMIN") %}
					<p class="card-text">
						Salle :
						<br>
						{% if session.salle is empty %}
							pas de salle attribuée
						{% else %}
							salle
							{{ session.salle }}<br>
							<a href="{{ path('delete_salle_session', {id:session.id})}}">(supprimer la salle attribuée)</a>
						</p>
					{% endif %}
					<p class="card-text">
						Stagiaires inscrits :<br>
						{% if session.inscrit is empty %}
							Pas de stagiaires inscrits pour le moment
						{% else %}
							{% for inscrit in session.inscrit %}

								<li>
									<a class="text-info" href="{{ path('stagiaire_show', {id:inscrit.id})}}">
										{{ inscrit }}</a>
								</li>
							{% endfor %}
						{% endif %}
						{# {% if (session.nbPlaces - session.inscrit | length != 0) %}
																																																																																																							<a class="btn btn-info text-white m-3" href="{{ path('session_inscription', {id:session.id})}}">Inscrire un stagiaire à cette session</a>
																																																																																																						{% endif %} #}
					</p>
					<div>
						<div class="d-flex">
							{# <a class="btn btn-warning text-white w-50 m-3" href="{{ path('ajoutSalle', {'id':session.id}) }}">
															Attribuer une salle
															{# Modifier #}
							{# </a> #}

								<a class="btn btn-success text-white w-50 m-3" href="{{ path('session_edit', {'id':session.id}) }}"> <i class="fas fa-edit"></i>
								{# Modifier #}
							</a>
							<a class="btn btn-danger text-white w-50 m-3" onclick="alert()" href="{{ path('session_delete', {'id':session.id}) }}">
								<i class="fas fa-trash-alt"></i>
								{# Supprimer #}
							</a>
							<div>
							{% endif %}

						</p>
					</p>
				</p>
			{% endblock %}
