{% extends 'base.html.twig' %}

{% block title %}{{ session}}{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <button class="btn btn-info"><a class="text-white" href="{{ path('session') }}">Retour à la liste</a></button>

<h1 class="text-info">{{ session }}</h1>
<ul>
        <li>nombre de places : {{ session.nbPlaces }}</li>
        <li>Stagiaires inscrits : </li>
        {% if session.inscrits is empty %}
        <li>Pas de stagiaires inscrits pour le moment</li>
        {% else %}
        {% for inscrit in session.inscrits %}
        <li>{{ inscrit }}</li>
        {% endfor %}
        {% endif %}
</ul>
        <a class="btn btn-warning rounded-pill m-2" href="{{ path('session_edit', {'id':session.id}) }}">Modifier les informations</a>
        <a class="btn btn-danger rounded-pill m-2" href="{{ path('session_delete', {'id':session.id}) }}">Supprimer la session</a>
</div>
{% endblock %}
