{% extends 'base.html.twig' %}

{% block title %}
	Liste modules
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container">
		<h1 class="text-center m-3">Liste des modules</h1>
		{% if is_granted("ROLE_ADMIN") %}

			<a class="btn btn-success" href="{{ path('module_add') }}">Ajouter un module</a>
		{% endif %}
		{# <table class="table table-striped table-hover table-sm"> #}
		<table class="table table-hover">

			<thead>
				<tr>
					<th scope="col">Intitulé</th>
					<th scope="col">Descriptif</th>
					<th scope="col">Catégorie</th>
					{% if is_granted("ROLE_ADMIN") %}
						<th scope="col">Modifier</th>
						<th scope="col">Supprimer</th>
					{% endif %}
				</tr>
			</thead>
		</tr>
	</thead>
	<tbody>
		{% for module in modules %}
			<tr>
				<td>
					<a class="text-body" href="{{ path('module_show', {id: module.id}) }}">{{module.libelle}}</a>
				</td>
				<td>{{ module.descriptif }}</td>
				<td>
					<a class="text-body" href="{{ path('categorie_show', {id:module.categorie.id})}}">{{ module.categorie.nom }}</a>
				</td>
				{% if is_granted("ROLE_ADMIN") %}

					<td>
						<a class="btn btn-success" href="{{ path('module_edit', {'id':module.id}) }}"><i class="fas fa-edit"></i></a>
					</td>
					<td>
						<a class="btn btn-danger" onclick="alert()" href="{{ path('module_delete', {'id':module.id}) }}">Supprimer</a>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
		{# </tbody> #}
	</tbody>
</table></div>{% endblock %}
