{% extends 'base.html.twig' %}

{% block title %}Ajout salle
{% endblock %}

{% block body %}
	{# si je suis en mode edit alors ce sera modification #}
	{% if editMode %}
		<h1 class="text-center m-3">Modification d'une salle</h1>
	{% else %}
		{# sinon ce sera un mode ajout #}
		<h1 class="text-center m-3">Ajout d'une salle</h1>
	{% endif %}
	<div
		class="m-auto col-3">
		{# ici j'appelle l'intégralité du formulaire  #}
		{{ form_start(formAddSalle) }}

		{{ form_row(formAddSalle.libelle) }}
		{{ form_row(formAddSalle.nbPlaces) }}

		{{ form_row(formAddSalle.envoyer) }}

		{{ form_end(formAddSalle) }}
	</div>
{% endblock %}
{% block javascripts %}{% endblock %}
