{% extends 'base.html.twig' %}

{% block title %}
	{{ salle}}
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="container">
		<h2 class="text-center m-3">Informations sur la salle</h2>
		<button class="btn btn-info">
			<a class="text-white" href="{{ path('salle') }}">Retour à la liste</a>
		</button>

		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h2 class="card-title">{{ salle }}</h2>
			</div>
			<div
				class="card-text">
				{# <div class="alert alert-warning alert-dismissible fade show" role="alert"> #}

				<h6>Prochaines sessions dans cette salle :</h6>
				{% if salle.sessions %}
					<ul>
						{% for session in salle.sessions %}
							<a class="text-info" href=" {{ path('session_show', {id:session.id})}}">
								<li>{{ session }}</li>
							</a>
						{% endfor %}
					</ul>
				{% else %}
					<p>Pas de session prévue actuellement</p>
				{% endif %}
				{# </div> #}
				{% if is_granted("ROLE_ADMIN") %}
					<div class="d-flex">
						<a class="btn btn-info text-white w-50 m-3" href="{{ path('salle_edit', {'id':salle.id}) }}">
							<i class="fas fa-edit"></i>
							{# Modifier #}
						</a>
						<a class="btn btn-danger text-white w-50 m-3" onclick="alert()" href="{{ path('salle_delete', {'id':salle.id}) }}">
							<i class="fas fa-trash-alt"></i>
							{# Supprimer #}
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}
